body,
html {
    width: 100%;
    margin: 0;
    background-color: #C2F5EB;
}

* { box-sizing: border-box;}

h2 {
    text-transform: uppercase;
}

.rh-flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}


.rh-main {
    margin-top: 66.5px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Dosis', sans-serif;
}

.rh-centerBuiten {
    text-align: center;
    margin-top: 50px;
}

.rh-scaleImage {
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.logoBnB {
    width: 40%;
}

.rh-row:after {
    content: "";
    display: table;
    clear: both;
}

.rh-column-links {
    float: left;
    width: 60%;
    margin-top: 50px;
    padding-right: 100px;
}

.rh-column-rechts {
    float: left;
    width: 40%;
    margin-top: 60px;
}

#rh-column-links-header {
    font-family: 'Dosis', sans-serif;
    color: rgb(217, 99, 89);
    text-align: left;
    font-size: 2.7vw;
    font-weight: 1000;
}

#rh-column-links-tekst {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    text-align: justify;
}

.columnLijn {
    border-color: #005622; 
    width: 90%; 
    opacity: 40%;
    }

.rh-column-fotos {
    max-width: 100%;
}

.rh-rij-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    border: 20px solid #E38F88;  
    background-color: #E38F88;
    border-radius: 10px;
    overflow: auto;
    z-index: 0;
 }
 

.rh-titel-column {
    font-weight: 1000;
    font-size: 1.3vw;
    margin: 0;
}

.rh-hr-column {
    width: 30%;
    height: 1px;
    border-color: grey;
    opacity: 70%;
    margin-bottom: 0;
    margin-top: 4%;
}

.rh-text-column {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    margin-bottom: 0;
}

.hoewerkthet {
    text-align: center;
}

.rh-rij-text1 {
    position:  absolute;
    width: 48%;
    height: 48%;
    padding: 3%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1.5% 0.5% 0.5% 1.5%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Dosis', sans-serif;
 }

.rh-column-gif{
    height: 35%; 
    padding-top:0%;
}

#rh-columnButton{
    background-color: rgb(217, 99, 89);
    color: white;
    border-radius: 20px;
    padding: 3%;
    width: 80%;
    font-size: 1vw;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    transition: 0.4s;
}

#rh-columnButton:hover {
    background-color: gold;
    color: black;
}


.rh-rij-text2 {
    position:  absolute;
    width: 48%;
    height: 48%;
    padding: 3%;
    top: 0;
    right: 0;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1.5% 1.5% 0.5% 0.5%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Dosis', sans-serif;
}

.rh-column-map {
    height: 40%;
    padding-top: 10%;
}
 
.rh-rij-text3 {
    position:  absolute;
    width: 48%;
    height: 48%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 0%;
    padding-left: 3%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5% 0.5% 1.5% 1.5%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Dosis', sans-serif;
 }

.rh-column-img {
    height: 25%;
    padding-top: 0%;
}

.rh-column-logos {
    height: 6%;
}

.rh-rij-text3 a,
.rh-rij-text3 a:visited{
    text-decoration: none;
}

 .rh-rij-text4 {
    position:  absolute;
    width: 48%;
    height: 48%;
    padding: 3%;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5% 1.5% 1.5% 0.5%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Dosis', sans-serif;
 }

 .rh-column-qr {
    width: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
}

@media screen and (max-width: 768px) {
    .rh-main {
        margin-top: 10px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .rh-centerBuiten {
        margin-top: 0;
        width: 100%;
    }
    .logoBnB {
        width: 100%;
    }
    .rh-scaleImage {
        display: none;
    }
    .rh-column {
        width: 100%;
    }
    .rh-row {
        margin-left: 5%;
        margin-right: 5%;
    }
    .rh-column-links {
        width: 100%;
        padding-right: 0px;
    }
    #rh-column-links-header{
        font-size: 26px;
    }
    #rh-column-links-tekst {
        font-size: 16px;
    }
    .rh-column-rechts{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
    }
    .rh-rij-text1,.rh-rij-text2,.rh-rij-text3,.rh-rij-text4 {
        position: relative;
        width: 100%;
        height: 300px;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 15px;
        overflow: disabled;
        box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.6);
    }
    .rh-titel-column {
        font-weight: 1000;
        font-size: 22px;
    }
    .rh-text-column {
        font-size: 15px;
    }
    .rh-rij-container {
        padding-top: 0;
        width: 100%;
        border: hidden;  
        overflow: hidden;
    }
    #rh-titel-logo {
        padding-top: 0;
    }
    .rh-main {
        padding-top: 0px;
    }
    #rh-columnButton{
        font-size: 18px;
        padding: 1%;
        margin-top: 20px;
    }
    .rh-column-qr {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .rh-column-img {
        padding-bottom: 30px;
        padding-top: 30px;
        height: 50%;
    }
    .rh-column-map {
        height: 60%;
    }
    .rh-column-logos {
        height: 10%;
    }
    .rh-rij-container {
        background-color: transparent;
    }
    .hoewerkthet {
        color: rgb(217, 99, 89);
        font-weight: bold;
        font-size: 26px;
        text-decoration: underline ;
    }
}

@media screen and (min-width: 1200px) {
    .rh-titel-column {
        font-size: 16px;
        margin: 0;
    }
    .rh-text-column {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }
    .rh-row {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #rh-column-links-header {
    font-size: 34px;
    }
    #rh-column-links-tekst {
        font-size: 18px;
    }
    .rh-column-rechts {
    font-size: 28px;
    }
    #rh-columnButton{
        font-size: 25px;
        margin-top: 3%;
    }
    .rh-column-logos {
        height: 10%;
        margin-top: 30px;
    }
    .rh-column-qr {
        width: 40% ;
    }
    .rh-column-img {
        height: 25%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .rh-column-map {
        height: 60%;
    }
}





.item {
    height: 240px;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
}

.item q {
    font-family: 'Dosis', sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    font-style: italic;
    color: #005622;
}

.item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: 600;
    color: #E38F88;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-indicators {
    z-index: 1;
}

.carousel-indicators li {
    background-color: white;
    border-color: #005622;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active {
    background-color:#E38F88;
    border-color: #005622;
    width: 18px;
    height: 18px;
}

#rh-sterren {
    width: 100%;
}

#rh-ster {
    width: 3%;
}

@media screen and (max-width: 768px) {
    .item {
        height: 150px;
        margin-bottom: 20px;
    }
    .item q {
        font-size: 16px;
    }
    .item p {
        font-size: 10px;
    }
    .columnLijn {
        margin-top: 0px;
    }
    .carousel-indicators li {
        width: 8px;
        height: 8px;
    }   
    .carousel-indicators .active {
        width: 10px;
        height: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .item {
        height: 160px;
        width: 100%;
    }
    .item q {
        font-size: 12px;
    }
    .item p {
        font-size: 10px;
    }
    .carousel-indicators li {
        width: 7px;
        height: 7px;
    }   
    .carousel-indicators .active {
        width: 10px;
        height: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .item {
        height: 180px;
    }
    .item q {
        font-size: 22px;
    }
    .item p {
        font-size: 14px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
    }   
    .carousel-indicators .active {
        width: 13px;
        height: 13px;
    }
}





