.mail a {
    color: white;
    text-decoration: none;
}
.mail a:hover{
    color: rgb(217, 99, 89);
    text-decoration: underline;
}
.rechts a {
    color: white;
    text-decoration: none;
  }
  .rechts a:hover{
    color: rgb(217, 99, 89);
    text-decoration: underline;
  }

.footerimage2{
    display:none;
}

@media screen and (max-width: 1200px) {    
    .footerimage {
        display: none;
    }
    .footerimage2 {
        display: block;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    .footer_dj{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

#footerWidth {
    width: 100%;
}

footer {
    height: auto;
    margin-bottom: 0px;
    background-color: #005622;
}

.footer_dj {
    display: flex;
    color: white;
    font-family: 'Dosis', sans-serif;
}

.footer_dj .box {
    flex-basis: 50%;
    padding: 10px 20px;
  }

.links {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.links .content .social {
    margin: 20px 0 0 0;
    text-align: center;
}

.links .content .social a {
    padding: 2px; 
}

.links .content .social a span {
    height: 30px;
    width: 30px;
    color:  #005622;
    background:white;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
  
.links .content .social a span:hover {
    background:rgb(217, 99, 89);
}

.midden {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.place,
.phone,
.mail {
    font-size: 18px;
}


.rechts {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.footer-copyright{
    bottom: 0px;
    width: 100%;
    background-color: #E38F88;
    padding: 15px;
    color:black;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: center;    
}   

footer button{
    background-color: rgb(217, 99, 89);
    color: white;
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 10px; 
    width: 250px;
    height: 80px; 
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.4s;
    cursor: pointer;
   }
   footer button:hover {
     background-color: gold;
     color: black;
   }
